<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout"
>
<head>
    <title>Message Admin</title>
    <script>
        layui.use(['form', 'table', 'layer'], function () {
            var form = layui.form
                , layer = layui.layer
                , $ = layui.$
                , table = layui.table
            ;
            form.render();

            table.render({
                elem: '#types'
                , url: '/biz/typeQuery'
                , where: {sourceCode: $("#sourceCode").val()}
                , cols: [[
                    {field: 'messageBizType', title: '消息类型代码'}
                    , {field: 'typeName', title: '消息类型名称'}
                    , {field: 'sourceCode', title: '业务系统代码'}
                    , {field: 'sourceName', title: '业务系统名称'}
                    , {field: 'createTime', title: '创建时间'}
                    , {field: 'rateLimit', title: '限流', templet: function (type) {
                            var rateLimit = type.rateLimit;
                            /* <![CDATA[ */
                            if (rateLimit < 0) {
                                return '<p>不限流</p>';
                            } else {
                                var rc = '<p>' + rateLimit + '条/每' + type.limitUnit + '/每地址' + '</p>';
                                return rc;
                            }
                            /* ]]> */
                        }
                    }
                    , {
                        filed: 'sendTypes', width: 400, title: '发送类型（编辑模板）', templet: function (type) {
                            var sendTypes = type.sendTypes;
                            var rc = '';
                            /* <![CDATA[ */
                            for (var i = 0; i < sendTypes.length; i++) {
                                var sendType = sendTypes[i].messageSendType;
                                var typeName = sendTypes[i].sendTypeName;
                                var action = '/biz/tpl?messageBizType=' + type.messageBizType + '&amp;messageSendType=' + sendType;
                                var link = '<a class="layui-btn layui-btn-xs layui-btn-normal" href="#" onclick="layer.open({type: 2, area: [\'800px\', \'350px\'], closeBtn: 2, shadeClose: true, title: \'编辑模板\',  content: \'' + action + '\'})">'
                                    + typeName + '</a>';
                                rc = rc + link;
                            }
                            ;
                            /* ]]> */
                            return rc;
                        }
                    }
                    , {title: '操作', align: 'center', toolbar: '#operation'}
                ]]
                , id: 'types'
                , page: true //是否显示分页
                , limit: 10 //每页默认显示的数量
            });

            var active = {
                reload: function () {
                    table.reload('types', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            sourceCode: $("#sourceCode").val(),
                            messageBizType: $('#messageBizType').val(),
                        }
                    });
                }
            };

            $('#search').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            $('#reset').on('click', function () {
                $('#sourceCode').val("");
                $('#messageBizType').val("");
            });

            $('#add').on('click', function () {
                layer.open({
                    type: 2,
                    content: '/biz/typeAdd?sourceCode=' + $('#sourceCode').val(),
                    area: ['800px', '380px'],
                    closeBtn: 2,
                    shadeClose: true,
                    title: '新增消息业务类型'
                });
            });

            table.on('tool(type)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent === 'edit') { //编辑
                    layer.open({
                        type: 2,
                        content: '/biz/typeEdit?messageBizType=' + data.messageBizType,
                        area: ['800px', '380px'],
                        closeBtn: 2,
                        shadeClose: true,
                        title: '编辑消息业务类型'
                    });
                } else if (layEvent === 'del') {//删除
                    layer.confirm('删除消息业务类型将删除与之关联的所有消息发送信息以及消息模板,确定删除?'
                        , {icon: 0, title: '删除'}, function (index) {
                            var action = '/biz/delType?messageBizType=' + data.messageBizType;
                            $.ajax({
                                type: 'POST',
                                url: action,
                                success: function (data) {
                                    if (data.status == true) {
                                        layer.msg("删除成功");
                                        layer.close(index);
                                        $('#search').click();
                                    } else {
                                        layer.msg("删除失败");
                                    }
                                }
                            });
                            layer.close(index);
                        });

                }
            });


        });
    </script>
    <script type="text/html" id="operation">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>
</head>
<body>
<div layout:fragment="content">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>消息业务类型查询</legend>
    </fieldset>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">业务系统</label>
                <div class="layui-input-inline">
                    <input type="text" id="sourceCode" th:value="${sourceCode}" name="sourceCode" autocomplete="off"
                           placeholder="请输入业务系统代码"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">消息类型</label>
                <div class="layui-input-inline">
                    <input type="text" id="messageBizType" name="messageBizType" autocomplete="off"
                           placeholder="请输入消息业务类型代码"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-inline">
                <button id="search" data-type="reload" class="layui-btn">查询</button>
                <button id="reset" class="layui-btn layui-btn-normal">重置</button>
                <button id="add" class="layui-btn layui-btn-warm">新增</button>
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>查询结果</legend>
    </fieldset>
    <table class="layui-hide" id="types" lay-filter="type"></table>
</div>
</body>
</html>