<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
>
<head>
    <title>Message Admin</title>
    <script type="text/javascript" th:src="@{/js/echarts.common.min.js}"/>
    <script type="text/javascript" th:src="@{/js/dark.js}"/>
    <script type="text/javascript" th:src="@{/js/shine.js}"/>
    <script type="text/javascript" th:src="@{/js/macarons.js}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}" media="all"/>
</head>
<body>
<div layout:fragment="content">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>基本信息</legend>
    </fieldset>
    <div class="layui-row layui-col-space10 panel_box" style="margin-top: 10px; margin-left: 10px; margin-right: 10px">
        <div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
            <a href="javascript:;" data-url="http://fly.layui.com/case/u/3198216" target="_blank">
                <div class="panel_icon layui-bg-green">
                    <i class="layui-icon layui-icon-app"></i>
                </div>
                <div class="panel_word">
                    <span th:text="${sourceAmount}"></span>
                    <cite>业务系统</cite>
                </div>
            </a>
        </div>
        <div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
            <a href="javascript:;" data-url="https://github.com/BrotherMa/layuicms2.0" target="_blank">
                <div class="panel_icon layui-bg-black">
                    <i class="layui-icon layui-icon-set"></i>
                </div>
                <div class="panel_word">
                    <span th:text="${bizTypeAmount}"></span>
                    <cite>消息业务类型</cite>
                </div>
            </a>
        </div>
        <div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
            <a href="javascript:;" data-url="https://gitee.com/layuicms/layuicms2.0" target="_blank">
                <div class="panel_icon layui-bg-blue">
                    <i class="layui-icon layui-icon-notice"></i>
                </div>
                <div class="panel_word">
                    <span th:text="${todayMessageAmount}"></span>
                    <cite>今日处理</cite>
                </div>
            </a>
        </div>
        <div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
            <a href="javascript:;" data-url="page/user/userList.html">
                <div class="panel_icon layui-bg-orange">
                    <i class="layui-icon layui-icon-chart"></i>
                </div>
                <div class="panel_word userAll">
                    <span th:text="${todaySendAmount}"></span>
                    <cite>今日发送消息</cite>
                </div>
            </a>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>实时分析 [<a href="#" th:text="刷新" onclick="refreshCharts()"></a>]</legend>
    </fieldset>
    <div class="layui-row layui-col-space10" style="margin-left: 20px; margin-right: 20px">
        <div class="layui-col-xs6">
            <div style="height:400px;" id="sending"></div>
        </div>
        <div class="layui-col-xs6">
            <div style="height:400px;" id="sent"></div>
        </div>
    </div>
    <script>
        var sending = echarts.init(document.getElementById('sending'), "shine");
        var sent = echarts.init(document.getElementById('sent'), "macarons");

        function renderSending() {
            $.ajax({
                type: 'GET',
                url: '/stats/messageSending',
                success: function (data) {
                    var s = JSON.parse(JSON.stringify(data));
                    var option = {
                        title: {
                            subtext: '消息预处理'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: s.time
                        },
                        yAxis: {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value}'
                            },
                            axisPointer: {
                                snap: true
                            }
                        },
                        series: [
                            {
                                name: '处理量',
                                type: 'line',
                                areaStyle: {},
                                smooth: true,
                                data: s.count
                            }
                        ]
                    };
                    sending.setOption(option);
                }
            });
        };

        function renderSent() {
            $.ajax({
                type: 'GET',
                url: '/stats/messageSent',
                success: function (data) {
                    var s = JSON.parse(JSON.stringify(data));
                    var option = {
                        title: {
                            subtext: '消息发送'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: s.time
                        },
                        yAxis: {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value}'
                            },
                            axisPointer: {
                                snap: true
                            }
                        },
                        series: [
                            {
                                name: '处理量',
                                type: 'line',
                                areaStyle: {},
                                smooth: true,
                                data: s.count
                            }
                        ]
                    };
                    sent.setOption(option);
                }
            });
        };

        renderSending();
        renderSent();

        function refreshCharts() {
            renderSending();
            renderSent();
        }

        setInterval(refreshCharts, 15000);

    </script>
</div>
</body>
</html>