<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <script type="text/javascript" th:src="@{/layui/layui.js}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <script>
        layui.use('form', function() {
            var form = layui.form;
            var $ = layui.$;
            $('#saveSource').on('click',function(){
                var action = '/sys/addSource';
                var source = {};
                source.sourceCode = $('#sourceCode').val();
                source.sourceName = $('#sourceName').val();
                source.password = $('#password').val();
                $.ajax({
                    type: 'POST',
                    url: action,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(source),
                    success: function (data) {
                        if(data.status == true){
                            layer.msg("新增成功");
                            parent.location.reload();
                        }else{
                            layer.msg(data.msg);
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
<div id="source" class="layui-form" style="margin-top: 10px; margin-right: 10px">
    <div class="layui-form-item">
        <label class="layui-form-label">模块代码</label>
        <div class="layui-input-block">
            <input type="text" id="sourceCode" placeholder="请输入业务模块代码" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">模块名称</label>
        <div class="layui-input-block">
            <input type="text" id="sourceName" placeholder="请输入业务模块名称" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" id="password" lay-verify="pass" placeholder="请填写6到12位密码" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="saveSource">保存</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        </div>
    </div>

</div>
</body>
</html>